<div class="large-12 columns sidebar" >
<ul>
	<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler">
						<i class="ionicons ion-android-menu"></i>
					</div>
					<!-- END SIDEBAR TOGGLER BUTTON -->
	</li>
	<li><a href="#/dashboard/managepost">
		<i class="fa fa-clone"></i> <span class="nameSpace">post</span></a>
	</li>
	<li><a href="#/dashboard/managepage">
		<i class="fa fa-file"></i>  <span class="nameSpace">page</span></a>
	</li>
	<li>
		<a href="#/dashboard/media"><i class="fa fa-picture-o"></i>  <span class="nameSpace">media</span></a>
	</li>
	<li>
		<a href="#/dashboard/comments"><i class="fa fa-comment"></i>  <span class="nameSpace">comments</span></a>
	</li>
	<li>
		<a href="#/dashboard/links"><i class="fa fa-link"></i>  <span class="nameSpace">links</span></a>
	</li>
	<li>
		<a href="#/dashboard/appearance"><i class="fa fa-paint-brush"></i>  <span class="nameSpace">appearance</span></a>
	</li>
	<li>
		<a href="#/dashboard/user"><i class="fa fa-user"></i>  <span class="nameSpace">user</span></a>
	</li>
	<li>
		<a href="#/dashboard/modules"><i class="fa fa-puzzle-piece"></i>  <span class="nameSpace">modules</span></a>
	</li>
	<li>
		<a href="#/dashboard/settings"><i class="fa fa-cog"></i>  <span class="nameSpace">settings</span></a>
	</li>
</ul>
</div>