<div class="large-12 columns nopadding" id="loginmain" ng-class="{home: homescreen}" >

<div class="large-4 large-centered columns widget loginform" >
    <form name="loginform"  ng-submit="loginform.$valid && userLogin()" novalidate>
    	<!-- {{adminloginCtrl.user.username}} -->
 		<div class="row">
 			<div class="large-12 columns" style="text-align:center">
    			<h4>CodeRobo - admin</h4>
    		</div>
    	</div>
        <div class="row">
          <div class="large-12 columns">
            <label>
              <input type="text" placeholder="Username" ng-model="user.username" class="inputControlles" required/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>
              <input type="password" placeholder="Password" ng-model="user.password" class="inputControlles" required/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <!-- <div class="button tiny expand">login</div> -->
            <button class="button tiny expand custom">login</button>
          </div>
        </div>
        <div class="row" style="display:none;">
          <div class="large-12 columns">
            Not a member? <a href="#newbot">Sign up now</a>
          </div>
        </div>
    </form>
  </div>
</div>
<div class="large-12 columns nopadding"  ng-include="templateLoc.footer"></div>